.div-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.div-wrapper .group {
  position: absolute;
  width: 438px;
  height: 35px;
  top: 160px;
  left: 501px;
}

.div-wrapper .text-wrapper {
  position: absolute;
  top: 6px;
  left: 179px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .overlap-group-wrapper {
  position: absolute;
  width: 80px;
  height: 35px;
  top: 0;
  left: 355px;
}

.div-wrapper .overlap-group {
  position: relative;
  width: 78px;
  height: 35px;
  background-color: #e6ecff;
  border-radius: 10px;
}

.div-wrapper .text-wrapper-2 {
  position: absolute;
  top: 6px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-3 {
  top: 6px;
  left: 0;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-2 {
  position: absolute;
  width: 686px;
  height: 37px;
  top: 198px;
  left: 365px;
}

.div-wrapper .image {
  width: 686px;
  height: 1px;
  top: 36px;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.div-wrapper .group-3 {
  position: absolute;
  width: 67px;
  height: 23px;
  top: 0;
  left: 4px;
}

.div-wrapper .overlap-group-2 {
  position: relative;
  width: 65px;
  height: 23px;
  background-color: #ebebeb;
  border-radius: 5px;
}

.div-wrapper .text-wrapper-4 {
  top: 5px;
  left: 22px;
  color: #5e5e5e;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .ph-pencil-fill {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 4px;
  left: 5px;
}

.div-wrapper .overlap-wrapper {
  position: absolute;
  width: 63px;
  height: 23px;
  top: 1px;
  left: 620px;
}

.div-wrapper .overlap {
  position: relative;
  width: 61px;
  height: 23px;
  background-color: #ebebeb;
  border-radius: 5px;
}

.div-wrapper .text-wrapper-5 {
  top: 5px;
  left: 26px;
  color: #5e5e5e;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .img {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 6px;
  left: 7px;
}

.div-wrapper .group-4 {
  position: absolute;
  width: 1305px;
  height: 94px;
  top: 16px;
  left: 67px;
}

.div-wrapper .overlap-2 {
  position: relative;
  height: 94px;
}

.div-wrapper .overlap-3 {
  position: absolute;
  width: 1305px;
  height: 94px;
  top: 0;
  left: 0;
}

.div-wrapper .innerjoin-us {
  position: absolute;
  width: 155px;
  height: 94px;
  top: 0;
  left: 14px;
  object-fit: cover;
}

.div-wrapper .image-2 {
  width: 1305px;
  height: 2px;
  top: 92px;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.div-wrapper .view {
  position: absolute;
  width: 276px;
  height: 40px;
  top: 29px;
  left: 783px;
}

.div-wrapper .overlap-group-3 {
  position: relative;
  width: 274px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid;
  border-color: #000000;
}

.div-wrapper .text-wrapper-6 {
  width: 51px;
  top: 9px;
  left: 30px;
  color: #d9d9d9;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .mdi-magnify {
  position: absolute;
  width: 25px;
  height: 26px;
  top: 7px;
  left: 5px;
}

.div-wrapper .vector-wrapper {
  position: absolute;
  width: 43px;
  height: 40px;
  top: 29px;
  left: 1251px;
  background-color: #7f94e1;
  border-radius: 21.5px/20px;
}

.div-wrapper .vector {
  position: absolute;
  width: 19px;
  height: 17px;
  top: 11px;
  left: 11px;
}

.div-wrapper .group-5 {
  position: absolute;
  width: 700px;
  height: 80px;
  top: 250px;
  left: 365px;
}

.div-wrapper .image-3 {
  position: absolute;
  width: 686px;
  height: 1px;
  top: 79px;
  left: 0;
  object-fit: cover;
}

.div-wrapper .overlap-4 {
  position: absolute;
  width: 102px;
  height: 19px;
  top: 1px;
  left: 45px;
}

.div-wrapper .text-wrapper-7 {
  position: absolute;
  width: 79px;
  height: 19px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #403d3d;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-8 {
  position: absolute;
  height: 8px;
  top: 7px;
  left: 76px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #6f6a6a;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .p {
  top: 30px;
  left: 16px;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .img-wrapper {
  position: absolute;
  width: 23px;
  height: 20px;
  top: 0;
  left: 15px;
  background-color: #e7ecff;
  border-radius: 11.56px/10.16px;
}

.div-wrapper .vector-2 {
  position: absolute;
  width: 9px;
  height: 7px;
  top: 6px;
  left: 7px;
}

.div-wrapper .vector-3 {
  position: absolute;
  width: 14px;
  height: 11px;
  top: 38px;
  left: 536px;
}

.div-wrapper .text-wrapper-9 {
  position: absolute;
  top: 35px;
  left: 556px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-10 {
  left: 610px;
  position: absolute;
  top: 36px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-11 {
  left: 659px;
  position: absolute;
  top: 36px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-6 {
  position: absolute;
  width: 16px;
  height: 10px;
  top: 38px;
  left: 589px;
}

.div-wrapper .vector-4 {
  position: absolute;
  width: 14px;
  height: 12px;
  top: 37px;
  left: 639px;
}

.div-wrapper .text-wrapper-12 {
  top: 49px;
  left: 17px;
  color: #878787;
  font-size: 12px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-7 {
  position: absolute;
  width: 700px;
  height: 80px;
  top: 819px;
  left: 365px;
}

.div-wrapper .group-8 {
  position: absolute;
  width: 700px;
  height: 80px;
  top: 724px;
  left: 365px;
}

.div-wrapper .group-9 {
  position: absolute;
  width: 700px;
  height: 80px;
  top: 629px;
  left: 365px;
}

.div-wrapper .group-10 {
  position: absolute;
  width: 700px;
  height: 80px;
  top: 534px;
  left: 365px;
}

.div-wrapper .group-11 {
  position: absolute;
  width: 700px;
  height: 80px;
  top: 439px;
  left: 365px;
}

.div-wrapper .group-12 {
  position: absolute;
  width: 700px;
  height: 80px;
  top: 344px;
  left: 365px;
}
