.div-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.div-wrapper .group {
  position: absolute;
  width: 1019px;
  height: 72px;
  top: 173px;
  left: 224px;
}

.div-wrapper .image {
  width: 1015px;
  height: 1px;
  top: 71px;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.div-wrapper .text-wrapper {
  top: 0;
  left: 14px;
  color: #000000;
  font-size: 35px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .overlap-group-wrapper {
  position: absolute;
  width: 141px;
  height: 28px;
  top: 10px;
  left: 233px;
}

.div-wrapper .overlap-group {
  position: relative;
  width: 139px;
  height: 28px;
  background-image: url(./img/rectangle-543.png);
  background-size: 100% 100%;
}

.div-wrapper .text-wrapper-2 {
  top: 6px;
  left: 18px;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-3 {
  top: 16px;
  left: 412px;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .overlap-wrapper {
  position: absolute;
  width: 1311px;
  height: 94px;
  top: 23px;
  left: 67px;
}

.div-wrapper .overlap {
  position: relative;
  width: 1305px;
  height: 94px;
}

.div-wrapper .vector-wrapper {
  position: absolute;
  width: 43px;
  height: 40px;
  top: 34px;
  left: 1247px;
  background-color: #7f94e1;
  border-radius: 21.5px/20px;
}

.div-wrapper .vector {
  position: absolute;
  width: 19px;
  height: 17px;
  top: 11px;
  left: 11px;
}

.div-wrapper .overlap-2 {
  position: absolute;
  width: 1305px;
  height: 94px;
  top: 0;
  left: 0;
}

.div-wrapper .innerjoin-us {
  position: absolute;
  width: 155px;
  height: 94px;
  top: 0;
  left: 14px;
  object-fit: cover;
}

.div-wrapper .img {
  width: 1305px;
  height: 2px;
  top: 91px;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.div-wrapper .text-wrapper-4 {
  width: 92px;
  top: 40px;
  left: 505px;
  color: #686464e3;
  font-size: 17px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-5 {
  width: 79px;
  top: 40px;
  left: 344px;
  color: #686464e3;
  font-size: 17px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-6 {
  width: 37px;
  top: 40px;
  left: 219px;
  color: #686464e3;
  font-size: 17px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .view {
  position: absolute;
  width: 276px;
  height: 40px;
  top: 28px;
  left: 653px;
}

.div-wrapper .overlap-group-2 {
  position: relative;
  width: 274px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid;
  border-color: #000000;
}

.div-wrapper .text-wrapper-7 {
  width: 51px;
  top: 9px;
  left: 30px;
  color: #d9d9d9;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .mdi-magnify {
  position: absolute;
  width: 25px;
  height: 26px;
  top: 7px;
  left: 5px;
}

.div-wrapper .group-2 {
  position: absolute;
  width: 1021px;
  height: 69px;
  top: 276px;
  left: 224px;
}

.div-wrapper .text-wrapper-8 {
  position: absolute;
  width: 460px;
  top: 0;
  left: 14px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #5f5f5f;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-9 {
  position: absolute;
  top: 36px;
  left: 21px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #a7a7a7;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .image-2 {
  position: absolute;
  width: 1015px;
  height: 1px;
  top: 68px;
  left: 0;
  object-fit: cover;
}

.div-wrapper .element-x-x {
  position: absolute;
  top: 36px;
  left: 836px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .span {
  color: #000000;
}

.div-wrapper .text-wrapper-10 {
  color: #d9d9d9;
}

.div-wrapper .group-3 {
  position: absolute;
  width: 1021px;
  height: 69px;
  top: 376px;
  left: 222px;
}

.div-wrapper .group-4 {
  position: absolute;
  width: 1021px;
  height: 69px;
  top: 476px;
  left: 224px;
}

.div-wrapper .group-5 {
  position: absolute;
  width: 1021px;
  height: 69px;
  top: 576px;
  left: 224px;
}

.div-wrapper .group-6 {
  position: absolute;
  width: 1021px;
  height: 69px;
  top: 676px;
  left: 224px;
}

.div-wrapper .group-7 {
  position: absolute;
  width: 1021px;
  height: 69px;
  top: 776px;
  left: 224px;
}

.div-wrapper .group-8 {
  position: absolute;
  width: 1021px;
  height: 69px;
  top: 876px;
  left: 224px;
}
