.div-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.div-wrapper .group {
  position: absolute;
  width: 417px;
  height: 35px;
  top: 159px;
  left: 501px;
}

.div-wrapper .overlap-group-wrapper {
  position: absolute;
  width: 128px;
  height: 35px;
  top: 0;
  left: 165px;
}

.div-wrapper .overlap-group {
  position: relative;
  width: 126px;
  height: 35px;
  background-color: #e6ecff;
  border-radius: 10px;
}

.div-wrapper .text-wrapper {
  position: absolute;
  top: 6px;
  left: 14px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-2 {
  position: absolute;
  top: 6px;
  left: 376px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-3 {
  position: absolute;
  top: 6px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .group-2 {
  position: relative;
  width: 686px;
  height: 37px;
  top: 198px;
  left: 365px;
}

.div-wrapper .image {
  width: 686px;
  height: 1px;
  top: 36px;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.div-wrapper .group-3 {
  position: absolute;
  width: 67px;
  height: 23px;
  top: 0;
  left: 4px;
}

.div-wrapper .overlap-group-2 {
  position: relative;
  width: 65px;
  height: 23px;
  background-color: #ebebeb;
  border-radius: 5px;
}

.div-wrapper .text-wrapper-4 {
  position: absolute;
  top: 5px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #5e5e5e;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.div-wrapper .vector {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 5px;
  left: 6px;
}

.div-wrapper .overlap-wrapper {
  position: absolute;
  width: 63px;
  height: 23px;
  top: 1px;
  left: 620px;
}

.div-wrapper .overlap {
  position: relative;
  width: 61px;
  height: 23px;
  background-color: #ebebeb;
  border-radius: 5px;
}

.div-wrapper .text-wrapper-5 {
  top: 5px;
  left: 26px;
  color: #5e5e5e;
  font-size: 10px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .img {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 6px;
  left: 7px;
}

.div-wrapper .group-4 {
  position: absolute;
  width: 1305px;
  height: 94px;
  top: 16px;
  left: 66px;
}

.div-wrapper .overlap-2 {
  position: relative;
  height: 94px;
}

.div-wrapper .overlap-3 {
  position: absolute;
  width: 1305px;
  height: 94px;
  top: 0;
  left: 0;
}

.div-wrapper .innerjoin-us {
  position: absolute;
  width: 155px;
  height: 94px;
  top: 0;
  left: 14px;
  object-fit: cover;
  cursor: pointer;
}

.div-wrapper .image-2 {
  width: 1305px;
  height: 2px;
  top: 92px;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.div-wrapper .view {
  position: absolute;
  width: 276px;
  height: 40px;
  top: 29px;
  left: 783px;
}

.div-wrapper .overlap-group-3 {
  position: relative;
  width: 274px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid;
  border-color: #000000;
}

.div-wrapper .text-wrapper-6 {
  width: 51px;
  top: 9px;
  left: 30px;
  color: #d9d9d9;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .vector-2 {
  position: absolute;
  width: 18px;
  height: 19px;
  top: 11px;
  left: 9px;
}

.div-wrapper .vector-wrapper {
  position: absolute;
  width: 43px;
  height: 40px;
  top: 29px;
  left: 1248px;
  background-color: #7f94e1;
  border-radius: 21.5px/20px;
}

.div-wrapper .vector-3 {
  position: absolute;
  width: 19px;
  height: 17px;
  top: 11px;
  left: 11px;
}

.div-wrapper .group-5 {
  position: relative;
  width: 706px;
  height: 108px;
  top: 50px;
  /* left: 365px; */
  flex-direction: column;
}

.div-wrapper .image-3 {
  position: absolute;
  width: 686px;
  height: 1px;
  top: 107px;
  left: 0;
  object-fit: cover;
}

.div-wrapper .vector-4 {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 13px;
  left: 158px;
}

.div-wrapper .overlap-4 {
  position: absolute;
  width: 102px;
  height: 19px;
  top: 10px;
  left: 45px;
}

.div-wrapper .text-wrapper-7 {
  position: absolute;
  width: 79px;
  height: 19px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #403d3d;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-8 {
  position: absolute;
  height: 8px;
  top: 7px;
  left: 76px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #6f6a6a;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-9 {
  top: 60px;
  left: 555px;
  color: #4d4d4d;
  font-size: 12px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .element {
  top: 60px;
  left: 614px;
  color: #878787;
  font-size: 12px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .springboot {
  position: absolute;
  top: 63px;
  left: 16px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #878787;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-10 {
  position: absolute;
  top: 80px;
  left: 614px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #878787;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-11 {
  top: 80px;
  left: 556px;
  color: #4d4d4d;
  font-size: 12px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .p {
  top: 39px;
  left: 16px;
  color: #000000;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .img-wrapper {
  position: absolute;
  width: 23px;
  height: 20px;
  top: 9px;
  left: 15px;
  background-color: #e7ecff;
  border-radius: 11.56px/10.16px;
}

.div-wrapper .vector-5 {
  position: absolute;
  width: 9px;
  height: 7px;
  top: 6px;
  left: 7px;
}

.div-wrapper .overlap-5 {
  position: absolute;
  width: 17px;
  height: 12px;
  top: 2px;
  left: 567px;
  background-image: url(./img/vector-5.png);
  background-size: 100% 100%;
}

.div-wrapper .vector-6 {
  position: absolute;
  width: 7px;
  height: 6px;
  top: 3px;
  left: 5px;
}

.div-wrapper .text-wrapper-12 {
  position: absolute;
  top: 0;
  left: 590px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-13 {
  position: absolute;
  top: 1px;
  left: 649px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .vector-7 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 63px;
  left: 542px;
}

.div-wrapper .vector-8 {
  position: absolute;
  width: 10px;
  height: 11px;
  top: 81px;
  left: 542px;
}

.div-wrapper .vector-9 {
  position: absolute;
  width: 16px;
  height: 13px;
  top: 1px;
  left: 628px;
}

.div-wrapper .group-6 {
  position: absolute;
  width: 706px;
  height: 108px;
  top: 372px;
  left: 365px;
}

.div-wrapper .overlap-6 {
  position: absolute;
  width: 17px;
  height: 12px;
  top: 2px;
  left: 567px;
  background-image: url(./img/vector-33.png);
  background-size: 100% 100%;
}

.div-wrapper .group-7 {
  position: absolute;
  width: 706px;
  height: 108px;
  top: 494px;
  left: 365px;
}

.div-wrapper .group-8 {
  position: absolute;
  width: 706px;
  height: 108px;
  top: 616px;
  left: 363px;
}

.div-wrapper .group-9 {
  position: absolute;
  width: 706px;
  height: 108px;
  top: 738px;
  left: 365px;
}

.div-wrapper .group-10 {
  position: absolute;
  width: 706px;
  height: 108px;
  top: 860px;
  left: 365px;
}

.div-wrapper .overlap-7 {
  position: absolute;
  width: 17px;
  height: 12px;
  top: 2px;
  left: 567px;
  background-image: url(./img/vector-40.png);
  background-size: 100% 100%;
}
