.div-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .div {
  background-color: #ffffff;
  width: 1449px;
  height: 1024px;
  position: relative;
}

.div-wrapper .group {
  position: absolute;
  width: 1311px;
  height: 94px;
  top: 55px;
  left: 72px;
}

.div-wrapper .overlap {
  position: relative;
  width: 1305px;
  height: 94px;
}

.div-wrapper .overlap-group {
  position: absolute;
  width: 1305px;
  height: 94px;
  top: 0;
  left: 0;
}

.div-wrapper .innerjoin-us {
  position: absolute;
  width: 155px;
  height: 94px;
  top: 0;
  left: 14px;
  object-fit: cover;
}

.div-wrapper .image {
  width: 1305px;
  height: 2px;
  top: 91px;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.div-wrapper .text-wrapper {
  position: absolute;
  width: 92px;
  top: 40px;
  left: 505px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #686464e3;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.div-wrapper .text-wrapper-2 {
  position: absolute;
  width: 79px;
  top: 40px;
  left: 344px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #686464e3;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-3 {
  position: absolute;
  width: 37px;
  top: 40px;
  left: 219px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #686464e3;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .view {
  position: absolute;
  width: 276px;
  height: 40px;
  top: 28px;
  left: 653px;
}

.div-wrapper .overlap-group-2 {
  width: 274px;
  position: relative;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid;
  border-color: #000000;
}

.div-wrapper .text-wrapper-4 {
  position: absolute;
  width: 51px;
  top: 9px;
  left: 30px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .mdi-magnify {
  position: absolute;
  width: 25px;
  height: 26px;
  top: 7px;
  left: 5px;
}

.div-wrapper .overlap-wrapper {
  position: absolute;
  width: 179px;
  height: 40px;
  top: 27px;
  left: 1086px;
}

.div-wrapper .overlap-2 {
  position: relative;
  height: 40px;
}

.div-wrapper .overlap-group-wrapper {
  position: absolute;
  width: 177px;
  height: 40px;
  top: 0;
  left: 2px;
}

.div-wrapper .overlap-group-3 {
  width: 175px;
  position: relative;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid;
  border-color: #000000;
}

.div-wrapper .text-wrapper-5 {
  position: absolute;
  width: 87px;
  top: 9px;
  left: 82px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.div-wrapper .rectangle {
  position: absolute;
  width: 92px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #314eb2;
  border-radius: 50px;
  border: 1px solid;
}

.div-wrapper .text-wrapper-6 {
  position: absolute;
  width: 76px;
  top: 9px;
  left: 8px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .group-2 {
  position: absolute;
  width: 226px;
  height: 34px;
  top: 193px;
  left: 91px;
}

.div-wrapper .text-wrapper-7 {
  position: absolute;
  top: 1px;
  left: 47px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .line {
  position: absolute;
  width: 224px;
  height: 1px;
  top: 33px;
  left: 0;
  object-fit: cover;
}

.div-wrapper .img {
  position: absolute;
  width: 24px;
  height: 22px;
  top: 0;
  left: 14px;
}

.div-wrapper .group-3 {
  position: absolute;
  width: 940px;
  height: 53px;
  top: 187px;
  left: 386px;
}

.div-wrapper .overlap-3 {
  position: relative;
  width: 938px;
  height: 53px;
  background-color: #e6ecff;
  border-radius: 20px;
}

.div-wrapper .text-wrapper-8 {
  position: absolute;
  top: 16px;
  left: 35px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .group-4 {
  position: absolute;
  width: 45px;
  height: 18px;
  top: 22px;
  left: 871px;
}

.div-wrapper .overlap-group-4 {
  position: relative;
  width: 43px;
  height: 18px;
}

.div-wrapper .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #8a8a8a;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.div-wrapper .line-2 {
  position: absolute;
  width: 43px;
  height: 1px;
  top: 16px;
  left: 0;
  object-fit: cover;
}

.div-wrapper .group-5 {
  position: absolute;
  width: 445px;
  height: 53px;
  top: 607px;
  left: 387px;
}

.div-wrapper .overlap-4 {
  position: relative;
  width: 443px;
  height: 53px;
  background-color: #e6ecff;
  border-radius: 20px;
}

.div-wrapper .text-wrapper-10 {
  top: 15px;
  left: 35px;
  color: #000000;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-6 {
  position: absolute;
  width: 45px;
  height: 18px;
  top: 20px;
  left: 377px;
}

.div-wrapper .group-7 {
  position: absolute;
  width: 449px;
  height: 53px;
  top: 607px;
  left: 878px;
  display: flex;
  flex-direction: column;
}

.div-wrapper .overlap-5 {
  position: relative;
  width: 447px;
  height: 53px;
  background-color: #e6ecff;
  border-radius: 20px;
}

.div-wrapper .group-8 {
  /* position: absolute;
  width: 45px;
  height: 18px;
  top: 20px;
  left: 380px; */
}

.div-wrapper .group-9 {
  position: absolute;
  width: 226px;
  height: 34px;
  top: 622px;
  left: 91px;
}

.div-wrapper .text-wrapper-11 {
  width: 87px;
  top: 1px;
  left: 48px;
  color: #000000;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-10 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 15px;
}

.div-wrapper .group-11 {
  position: absolute;
  width: 449px;
  height: 78px;
  top: 692px;
  left: 387px;
}

.div-wrapper .image-2 {
  position: absolute;
  width: 443px;
  height: 1px;
  top: 77px;
  left: 0;
  object-fit: cover;
}

.div-wrapper .text-wrapper-12 {
  top: 38px;
  left: 35px;
  color: #000000;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-13 {
  top: 0;
  left: 114px;
  color: #d9d9d9;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-14 {
  top: 0;
  left: 35px;
  color: #000000;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-12 {
  position: absolute;
  width: 938px;
  height: 97px;
  top: 248px;
  left: 386px;
}

.div-wrapper .image-3 {
  width: 938px;
  height: 3px;
  top: 94px;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.div-wrapper .group-13 {
  position: absolute;
  width: 229px;
  height: 62px;
  top: 12px;
  left: 35px;
}

.div-wrapper .text-wrapper-15 {
  top: 38px;
  left: 0;
  color: #000000;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

.div-wrapper .text-wrapper-16 {
  top: 0;
  left: 79px;
  color: #d9d9d9;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-17 {
  top: 0;
  left: 0;
  color: #000000;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

.div-wrapper .group-14 {
  position: absolute;
  width: 73px;
  height: 87px;
  top: 0;
  left: 851px;
}

.div-wrapper .mdi-like {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 1px;
}

.div-wrapper .text-wrapper-18 {
  position: absolute;
  width: 35px;
  top: 2px;
  left: 32px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .carbon-view {
  position: absolute;
  width: 24px;
  height: 21px;
  top: 34px;
  left: 0;
}

.div-wrapper .text-wrapper-19 {
  position: absolute;
  width: 31px;
  top: 34px;
  left: 33px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .ant-design-message {
  position: absolute;
  width: 24px;
  height: 21px;
  top: 66px;
  left: 0;
}

.div-wrapper .text-wrapper-20 {
  position: absolute;
  width: 20px;
  top: 66px;
  left: 33px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #d9d9d9;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .group-15 {
  position: absolute;
  width: 938px;
  height: 98px;
  top: 357px;
  left: 386px;
}

.div-wrapper .image-4 {
  width: 938px;
  height: 3px;
  top: 95px;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.div-wrapper .group-16 {
  position: absolute;
  width: 229px;
  height: 62px;
  top: 11px;
  left: 35px;
}

.div-wrapper .group-17 {
  position: absolute;
  width: 73px;
  height: 87px;
  top: 0;
  left: 848px;
}

.div-wrapper .group-18 {
  position: absolute;
  width: 938px;
  height: 98px;
  top: 472px;
  left: 386px;
}

.div-wrapper .group-19 {
  position: absolute;
  width: 449px;
  height: 78px;
  top: 800px;
  left: 878px;
}

.div-wrapper .group-20 {
  position: absolute;
  width: 449px;
  height: 78px;
  top: 800px;
  left: 387px;
}

.div-wrapper .group-21 {
  position: absolute;
  width: 449px;
  height: 78px;
  top: 908px;
  left: 387px;
}

.div-wrapper .group-22 {
  position: absolute;
  width: 449px;
  height: 78px;
  top: 691px;
  left: 878px;
}

.div-wrapper .group-23 {
  position: absolute;
  width: 449px;
  height: 78px;
  top: 908px;
  left: 878px;
}

.div-wrapper .ellipse {
  position: absolute;
  width: 43px;
  height: 40px;
  top: 0;
  right: 0;
  background-color: #7f94e1;
  border-radius: 21.5px/20px;
}

.div-wrapper .vector {
  position: absolute;
  width: 19px;
  height: 17px;
  top: 11px;
  right: 12px;
}

.dropdown {
  height: 40px;
}