.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.screen .text-wrapper {
  position: absolute;
  top: 163px;
  left: 419px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .group {
  position: absolute;
  width: 549px;
  height: 85px;
  top: 337px;
  left: 420px;
}

.screen .rectangle {
  width: 547px;
  height: 49px;
  top: 36px;
  position: absolute;
  left: 0;
  background-color: #d9d9d945;
  border-radius: 20px;
}

.screen .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .group-2 {
  position: absolute;
  width: 550px;
  height: 324px;
  top: 452px;
  left: 419px;
}

.screen .rectangle-2 {
  width: 548px;
  height: 283px;
  top: 41px;
  position: absolute;
  left: 0;
  background-color: #d9d9d945;
  border-radius: 20px;
}

.screen .group-3 {
  position: absolute;
  width: 552px;
  height: 86px;
  top: 227px;
  left: 418px;
}

.screen .overlap-group {
  position: absolute;
  width: 547px;
  height: 49px;
  top: 37px;
  left: 1px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid;
  border-color: #000000;
}

.screen .mingcute-down-fill {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 504px;
}

.screen .text-wrapper-3 {
  top: 16px;
  left: 20px;
  color: #00000033;
  font-size: 15px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.screen .group-4 {
  position: absolute;
  width: 255px;
  height: 49px;
  top: 844px;
  left: 711px;
}

.screen .overlap-group-wrapper {
  position: absolute;
  width: 118px;
  height: 49px;
  top: 0;
  left: 139px;
}

.screen .div-wrapper {
  position: relative;
  width: 116px;
  height: 49px;
  background-color: #e6ecff;
  border-radius: 20px;
}

.screen .text-wrapper-4 {
  top: 11px;
  left: 38px;
  color: #000000;
  font-size: 22px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.screen .overlap-wrapper {
  position: absolute;
  width: 118px;
  height: 49px;
  top: 0;
  left: 0;
}

.screen .overlap {
  position: relative;
  width: 116px;
  height: 49px;
  background-color: #d9d9d95c;
  border-radius: 20px;
}

.screen .group-5 {
  position: absolute;
  width: 1305px;
  height: 94px;
  top: 28px;
  left: 67px;
}

.screen .overlap-2 {
  position: relative;
  height: 94px;
}

.screen .overlap-3 {
  position: absolute;
  width: 1305px;
  height: 94px;
  top: 0;
  left: 0;
}

.screen .innerjoin-us {
  position: absolute;
  width: 155px;
  height: 94px;
  top: 0;
  left: 14px;
  object-fit: cover;
}

.screen .image {
  position: absolute;
  width: 1305px;
  height: 2px;
  top: 92px;
  left: 0;
  object-fit: cover;
}

.screen .view {
  position: absolute;
  width: 276px;
  height: 40px;
  top: 17px;
  left: 783px;
}

.screen .overlap-group-2 {
  position: relative;
  width: 274px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-5 {
  width: 51px;
  top: 9px;
  left: 30px;
  color: #d9d9d9;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.screen .mdi-magnify {
  position: absolute;
  width: 25px;
  height: 26px;
  top: 7px;
  left: 5px;
}

.screen .vector-wrapper {
  position: absolute;
  width: 43px;
  height: 40px;
  top: 17px;
  left: 1246px;
  background-color: #7f94e1;
  border-radius: 21.5px/20px;
}

.screen .vector {
  position: absolute;
  width: 19px;
  height: 17px;
  top: 11px;
  left: 11px;
}
