.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.screen .group {
  position: absolute;
  width: 549px;
  height: 49px;
  top: 195px;
  left: 415px;
}

.screen .overlap-group {
  position: relative;
  width: 547px;
  height: 49px;
  background-color: #d9d9d945;
  border-radius: 20px;
}

.screen .text-wrapper {
  top: 14px;
  left: 16px;
  color: #000000;
  font-size: 22px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.screen .overlap-wrapper {
  position: absolute;
  width: 550px;
  height: 232px;
  top: 252px;
  left: 415px;
}

.screen .overlap {
  position: relative;
  width: 548px;
  height: 232px;
  border-radius: 20px;
}

.screen .text-wrapper-2 {
  top: 15px;
  left: 15px;
  color: #000000;
  font-size: 22px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.screen .rectangle {
  position: absolute;
  width: 548px;
  height: 232px;
  top: 0;
  left: 0;
  background-color: #d9d9d945;
  border-radius: 20px;
}

.screen .group-2 {
  position: absolute;
  width: 553px;
  height: 54px;
  top: 488px;
  left: 415px;
}

.screen .mdi-like {
  position: absolute;
  width: 23px;
  height: 20px;
  top: 1px;
  left: 4px;
}

.screen .overlap-2 {
  position: absolute;
  width: 42px;
  height: 29px;
  top: 0;
  left: 29px;
}

.screen .carbon-view {
  position: absolute;
  width: 22px;
  height: 21px;
  top: 0;
  left: 20px;
}

.screen .text-wrapper-3 {
  width: 27px;
  top: 4px;
  left: 0;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #a7a7a7;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .overlap-3 {
  position: absolute;
  width: 48px;
  height: 27px;
  top: 2px;
  left: 73px;
}

.screen .vector {
  position: absolute;
  width: 20px;
  height: 18px;
  top: 0;
  left: 28px;
}

.screen .text-wrapper-4 {
  width: 38px;
  top: 2px;
  left: 0;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #a7a7a7;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-5 {
  width: 24px;
  top: 3px;
  left: 123px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #a7a7a7;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .image {
  position: absolute;
  width: 545px;
  height: 3px;
  top: 51px;
  left: 0;
  object-fit: cover;
}

.screen .text-wrapper-6 {
  position: absolute;
  top: 6px;
  left: 454px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #0000003b;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .group-3 {
  position: absolute;
  width: 553px;
  height: 54px;
  top: 662px;
  left: 414px;
}

.screen .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 5px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 72px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #0000003b;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .p {
  position: absolute;
  top: 23px;
  left: 5px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .img {
  position: absolute;
  width: 23px;
  height: 20px;
  top: 12px;
  left: 455px;
}

.screen .text-wrapper-9 {
  position: absolute;
  width: 27px;
  top: 15px;
  left: 480px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #a7a7a7;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .ph-siren-light {
  position: absolute;
  width: 26px;
  height: 27px;
  top: 10px;
  left: 507px;
}

.screen .group-4 {
  position: absolute;
  width: 553px;
  height: 54px;
  top: 930px;
  left: 414px;
}

.screen .group-5 {
  position: absolute;
  width: 553px;
  height: 54px;
  top: 863px;
  left: 414px;
}

.screen .group-6 {
  position: absolute;
  width: 553px;
  height: 54px;
  top: 796px;
  left: 414px;
}

.screen .overlap-group-wrapper {
  position: absolute;
  width: 1305px;
  height: 94px;
  top: 28px;
  left: 67px;
}

.screen .overlap-4 {
  position: relative;
  height: 94px;
}

.screen .overlap-5 {
  position: absolute;
  width: 1305px;
  height: 94px;
  top: 0;
  left: 0;
}

.screen .innerjoin-us {
  position: absolute;
  width: 155px;
  height: 94px;
  top: 0;
  left: 14px;
  object-fit: cover;
}

.screen .image-2 {
  width: 1305px;
  height: 2px;
  top: 92px;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.screen .view {
  position: absolute;
  width: 276px;
  height: 40px;
  top: 17px;
  left: 783px;
}

.screen .overlap-group-2 {
  position: relative;
  width: 274px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid;
  border-color: #000000;
}

.screen .text-wrapper-10 {
  width: 51px;
  top: 9px;
  left: 30px;
  color: #d9d9d9;
  font-size: 20px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.screen .mdi-magnify {
  position: absolute;
  width: 25px;
  height: 26px;
  top: 7px;
  left: 5px;
}

.screen .vector-wrapper {
  position: absolute;
  width: 43px;
  height: 40px;
  top: 17px;
  left: 1245px;
  background-color: #7f94e1;
  border-radius: 21.5px/20px;
}

.screen .vector-2 {
  position: absolute;
  width: 19px;
  height: 17px;
  top: 11px;
  left: 11px;
}

.screen .group-7 {
  position: absolute;
  width: 545px;
  height: 91px;
  top: 558px;
  left: 414px;
}

.screen .div-wrapper {
  position: absolute;
  width: 59px;
  height: 32px;
  top: 0;
  left: 0;
}

.screen .overlap-group-3 {
  position: relative;
  width: 57px;
  height: 32px;
  background-color: #e6ecff;
  border-radius: 20px;
}

.screen .text-wrapper-11 {
  top: 4px;
  left: 10px;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.screen .image-3 {
  width: 545px;
  height: 3px;
  top: 88px;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.screen .rectangle-2 {
  position: absolute;
  width: 490px;
  height: 24px;
  top: 49px;
  left: 6px;
  background-color: #0000000a;
  border-radius: 5px;
  border: 1px solid;
  border-color: #00000033;
}

.screen .mingcute-send-plane {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 49px;
  left: 510px;
}

.screen .group-8 {
  position: absolute;
  width: 526px;
  height: 35px;
  top: 152px;
  left: 419px;
}

.screen .ph-siren-fill {
  position: absolute;
  width: 20px;
  height: 21px;
  top: 14px;
  left: 504px;
}

.screen .text-wrapper-12 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .group-9 {
  position: absolute;
  width: 553px;
  height: 54px;
  top: 729px;
  left: 414px;
}
